<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>条件渲染</title>
  </head>
  <body>
    <div id="app">
      v-if的基本用法 <br />
      <p v-if="6<3" p>{{apple}}</p>
      <p v-else-if="9>6">{{pineapple}}</p>
      <p v-else>{{banana}}</p>
      <hr />
      v-if的实例 <br />
      <div v-if="type==='name'">
        用户名：<input type="text" placeholder="请输入用户名" key="name" />
      </div>
      <div v-else>
        密码：<input type="text" placeholder="请输入密码" key="psw" />
      </div>
      <button @click="onclick">点我切换</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          apple: "apple",
          banana: "banana",
          pineapple: "pineapple",
          type: "name",
        },
        methods: {
          onclick() {
            this.type = this.type === "name" ? "psw" : "name";
          },
        },
      });
    </script>
  </body>
</html>
